<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<title>PipeDrive ChromeEXT</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">

	<link rel="stylesheet" type="text/css" href="libs/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="libs/css/bootstrap-theme.min.css">
	<link rel="stylesheet" type="text/css" href="checkboxes.css">
	<link rel="stylesheet" type="text/css" href="main.css">

	<script type="text/javascript" src="libs/js/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="libs/js/angular.min.js"></script>
	<script type="text/javascript" src="libs/js/ui-bootstrap-tpls-2.5.0.min.js"></script>
	<script type="text/javascript" src="libs/js/airtable.browser.js"></script>
	<script type="text/javascript" src="Utils.js"></script>
	<script type="text/javascript" src="logic.js"></script>
</head>
<body ng-controller="mainController">
	<div uib-alert ng-repeat="alert in alerts" class="text-center" ng-class="{'alert-danger': alert.danger, 'alert-success': alert.success}" close="closeAlert($index)">{{alert.msg}}</div>
	<div id="loadingAnimation" ng-if="pagination.loading">
		<span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> 
	</div>
	<div id="mainWrapper" ng-if="AIRTABLE_TOKEN && PIPEDRIVE_TOKEN">
		<div ng-if="dealId || activeDealId" id="processDealBtnWrapper">
			<h4 ng-if="activeDealId" style="display: inline-block; margin-left: 180px;">Active Deal: {{activeDealId}}</h4>
			<button ng-if="dealId" ng-click="loadDeal(dealId)" class="btn btn-sm btn-danger" style="display: inline; float: right; margin-right: 2px; margin-top: 2px;">Process Deal {{dealId}}</button>
		</div>
		<div id="searchBar" class="text-center">
			<div>
				<div class="searchBarComponent">
					<input type="text" class="form-control" ng-model="search.name" placeholder="Name" title="Name">
					<select ng-model="search.category" ng-change="categoryChange()">
		      			<option ng-repeat="option in categories" ng-value="option.value">{{option.name}}</option>
		      		</select>
		      		<select ng-model="search.event" ng-change="setEventName()">
		      			<option ng-repeat="option in event" ng-value="option.value">{{option.name}}</option>
		      		</select>
		      		<input type="number" class="form-control" ng-model="search.price" placeholder="Price" title="Price" />
		      		<input type="text" class="form-control" ng-model="search.city" placeholder="City" title="City"/>
	      		</div>
	      		<br />
	      		<div class="searchBarComponent">
		      		<select ng-model="search.gender">
		      			<option ng-repeat="gender in genders" ng-value="gender">{{gender}}</option>
		      		</select>
		      		<select  ng-model="search.subcategory">
		      			<option ng-repeat="subcategory in subcategories" ng-value="subcategory">{{subcategory}}</option>
		      		</select>
		      		<select ng-model="search.subscription">
		      			<option ng-repeat="subscription in subscriptions" ng-value="subscription">{{subscription}}</option>
		      		</select>
		      		<select ng-model="search.language">
		      			<option ng-repeat="language in languages" ng-value="language">{{language}}</option>
		      		</select>
		      		<button ng-click="loadArtists(); saveState();" class="btn btn-info"><i class="icon glyphicon glyphicon-search"></i>Search</button>
	      		</div>
      		</div>
      	</div>

      	<div id="sortBtnWrapper" class="text-right">
      		<div class="sortBtn updatedBtn" ng-click="changeSorting('updated')" ng-style="{color: (sorting.order[0] === 'updated' ? 'lightgreen' : 'black')}">
      			<span>Updated</span>
      			<i class="rightIcon glyphicon glyphicon-arrow-up" ng-if="sorting.updated === 'asc'"></i>
      			<i class="rightIcon glyphicon glyphicon-arrow-down" ng-if="sorting.updated === 'desc'"></i>
      		</div>
      		<div class="sortBtn" ng-click="changeSorting('price')" ng-style="{color: (sorting.order[0] === 'price' ? 'lightgreen' : 'black')}">
      			<span>Price</span>
      			<i class="rightIcon glyphicon glyphicon-arrow-up" ng-if="sorting.price === 'asc'"></i>
      			<i class="rightIcon glyphicon glyphicon-arrow-down" ng-if="sorting.price === 'desc'"></i>
      		</div>
      	</div>
      	<div id="artistsWrapper" ng-style="{maxHeight: (355 - (dealId ? 35 : 0) - (alerts && alerts.length ? (alerts.length * 70) : 0)) + 'px'}">
      		<h3 ng-if="pagination.totalItems === 0 && !pagination.loading" class="text-center">No artists for searched criteria</h3>
      		<div class="artistElm" ng-repeat="artist in artistsToShow">
      			<div class="artistDetailsWrapper">
      			<div class="artistImage">
      				<i ng-if="!artist.thumbnail" class="glyphicon glyphicon-star"></i>
      				<img ng-if="artist.thumbnail" src="https://starclinchstorage.blob.core.windows.net{{artist.thumbnail}}" style="border-radius: 50%;">
      			</div>
      			<div class="artistInfo">
	      			<h4><a href="https://starclinch.com/{{artist.url}}" target="_blank">{{artist.professionalname}}</a></h4>
	      			<div class="artistInfoSpansWrapper">
	      				<div ng-if="subscriptionColors[artist.subscription]" class="subscriptionIndicator" ng-attr-title="{{artist.subscription}} Subscription" ng-style="{backgroundColor: subscriptionColors[artist.subscription]}"></div>
	      				<span class="pitchAndGigCount">(<span title="Pitch Count">{{artist.pitchcount}}</span>, <span title="Gig Count">{{artist.gigcount}}</span>)</span>
	      			</div>
	      			<div class="contactInfo">
	      				<div class="email">{{artist.email}}</div>
	      				<div class="phoneNumber">{{artist.phone}}</div>
	      				<div class="city">{{artist.city}}</div>
	      			</div>
      			</div><!-- 
      			 --><div class="updated">{{artist.updated}}</div><!-- 
      			 --><div class="artistPrice">Rs {{artist[eventName + "_p"]}}<br/>(Rs {{artist.maxprice}})</div><!-- 
      			 --><div class="artistCheckbox">
      			 		<div class="checkbox bigCheckbox">
				          <label>
				            <input type="checkbox" value="" ng-change="artistStateChange(artist)" ng-model="artist.checked">
				            <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
				          </label>
				        </div>
      			 </div>
      			</div>
      		</div>
      	</div>

      	<div ng-if="pagination.totalItems > 10" id="paginationWrapper" class="text-center">
			<ul uib-pagination boundary-links="true" max-size="4" force-ellipses="true" ng-change="pagination.onPageChange()" total-items="pagination.totalItems" items-per-page="pagination.itemsPerPage" ng-model="pagination.currentPage" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>   

			<ul ng-if="loadMoreArtists" ng-click="loadMoreArtists && loadMoreArtists()" class="ng-pristine ng-untouched ng-valid ng-isolate-scope pagination ng-not-empty">
				<li role="menuitem" class="pagination-last ng-scope">
					<a href="" class="ng-binding">More</a>
				</li>
			</ul>
      	</div>

      	<div class="submitBtnWrapper text-center">
      		<button ng-click="openPitchList()" class="btn btn-lg btn-primary">Pitch List ({{pitchList.length}})</button>
      	</div>
      	<p class="text-center" style="width: 100%;"></p>
	</div>
	<div id="changeTokensBtnWrapper" ng-if="AIRTABLE_TOKEN && PIPEDRIVE_TOKEN">
		<button ng-click="showTokensModal()" class="btn btn-sm btn-default">Change Tokens</button>
	</div>


	<div id="tokensNotSet" ng-if="!(AIRTABLE_TOKEN && PIPEDRIVE_TOKEN)" class="text-center">
		Tokens are not set, <a href ng-click="showTokensModal()">Set Tokens</a>
	</div>
	<script type="text/ng-template" id="tokensModal.html">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title">Set Tokens</h3>
        </div>
        <div class="modal-body" id="modal-body">
            <div class="input-group" ng-class="{'has-error': local.pipedriveTokenHasError}">
			  <span class="input-group-addon" id="addon1">Pipedrive Token</span>
			  <input type="password" class="form-control" ng-focus="local.pipedriveTokenHasError = false" ng-change="local.setPipedriveToken()" ng-model="local.pipedriveToken" aria-describedby="addon1">
			</div>
			<br />
			<div class="input-group" ng-class="{'has-error': local.airtableTokenHasError}">
			  <span class="input-group-addon" id="addon2">Airtable Token</span>
			  <input type="password" class="form-control" ng-focus="local.airtableTokenHasError = false" ng-change="local.setAirtableToken()" ng-model="local.airtableToken" aria-describedby="addon2">
			</div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="local.save()">Save</button>
        </div>
    </script>

    <script type="text/ng-template" id="pitchList.html">
    	<div class="modal-header">
    		<button type="button" class="close" ng-click="closePitchList()" aria-hidden="true">&times;</button>
            <h3 class="modal-title" id="modal-title">Pitch List ({{pitchList.length}})</h3>
        </div>
        <div class="modal-body" id="pitchListModalBody">
        	<h4 class="text-center" ng-if="pitchList.length">Pitching {{search.categoryName}} for {{search.clientname}}'s {{search.dealTitle}} on {{search.date}} </h4>
        	<div class="text-right" ng-if="pitchList.length">
        		<button class="btn btn-sm btn-danger" ng-click="clearPitchList()">&times; ALL</button>
        	</div>
        	<h4 class="text-center" ng-if="!pitchList.length">No artists were selected</h4>
	    	<div id="artistsWrapper">
	      		<div class="artistElm" ng-repeat="artist in pitchList track by artist.id">
	      			<div class="artistDetailsWrapper">
	      			<div class="artistImage">
	      				<i ng-if="!artist.thumbnail" class="glyphicon glyphicon-star"></i>
	      				<img ng-if="artist.thumbnail" src="https://starclinchstorage.blob.core.windows.net{{artist.thumbnail}}" style="border-radius: 50%;">
	      			</div>
	      			<div class="artistInfo">
		      			<h4><a href="https://starclinch.com/{{artist.url}}" target="_blank">{{artist.professionalname}}</a></h4>
		      			<div class="artistInfoSpansWrapper">
		      				<div ng-if="subscriptionColors[artist.subscription]" class="subscriptionIndicator" ng-attr-title="{{artist.subscription}} Subscription" ng-style="{backgroundColor: subscriptionColors[artist.subscription]}"></div>
		      				<span class="pitchAndGigCount">(<span title="Pitch Count">{{artist.pitchcount}}</span>, <span title="Gig Count">{{artist.gigcount}}</span>)</span>
		      			</div>
		      			<div class="contactInfo">
		      				<div class="email">{{artist.email}}</div>
		      				<div class="phoneNumber">{{artist.phone}}</div>
		      				<div class="city">{{artist.city}}</div>
		      			</div>
	      			</div><!-- 
	      			 --><div class="updated">{{artist.updated}}</div><!-- 
	      			 --><div class="artistPrice">Rs {{artist[eventName + "_p"]}}<br/>(Rs {{artist.maxprice}})</div><!-- 
	      			 --><div class="artistCheckbox">
	      			 		<button class="btn btn-sm btn-danger" ng-click="artist.checked = false; artistStateChange(artist)">&times;</button>
	      			 </div>
	      			</div>
	      		</div>
	      	</div>
	      	<div class="submitBtnWrapper text-center"  ng-if="pitchList.length">
	      		<div id="includePriceCheckbox" class="checkbox bigCheckbox">
		      		<label>
			            <input type="checkbox" value="" ng-change="saveState()" ng-model="submit.includePrice">
			            <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
			            Include Price
			        </label>
		      	</div>
	      		<button ng-click="submitArtists()" class="btn btn-lg btn-primary">Pitch Artists</button>
      		</div>
	     </div>
    </script>



</body>
</html>