html, body {
	margin: 0;
	padding: 0;
	max-width: 550px;
	min-width: 550px;
	font-size: 11px;
	min-height: 599px;
	max-height: 599px;
	height: 599px;
	overflow: hidden;
}

#tokensNotSet{
	padding-top: 50px;
}

#searchBar{
	padding-top: 10px;
}

#searchBar input{
	display: inline-block;
}

#searchBar select{
	height: 35px;
}

.searchBarComponent{
	display: inline-block;
	width: 100%;
}

#searchButtonWrapper{
}

.searchBarComponent input, .searchBarComponent select, .searchBarComponent button{
	max-width: calc(100% / 5.2);
	min-width: calc(100% / 5.2);
}

.icon{
	margin-right: 8px;
}

.rightIcon{
	margin-left: 4px;
}

#searchBar button{
	position: relative;
	top: -1px;
}

#sortBtnWrapper{
	padding-top: 12px;
	padding-right: 20%;
}

.sortBtn{
	display: inline-block;
}

.updatedBtn{
	padding-right: 20px;
}

.sortBtn span{
	font-size: 120%;
	font-weight: bolder;
}

.sortBtn{
	user-select: none;
	cursor: pointer;
}

#artistsWrapper{
	padding: 10px;
}

.subcategory{
	padding-top: 8px;
}

.contactInfo{
	font-weight: 500;
}

.artistInfo, .artistPrice, .artistCheckbox, .updated {
	display: inline-block;
	vertical-align: middle;
}
.artistPrice, .updated {
	width: 110px;
}

.artistInfo{
	width: 180px;
}
.artistPrice {
	text-align: center;
	width: 85px;
	font-size: 120%;
	font-weight: 500;
}

.artistCheckbox{
	text-align: center;
	width: 40px;
}



.submitBtnWrapper{
	padding-top: 15px;
	padding-bottom: 5px;
}

#artistsWrapper{
	max-height: 355px;
	overflow-y: auto;
	overflow-x: hidden;
}

.artistElm{
	padding-bottom: 15px;
}

.artistImage, .artistInfo{
	display: inline-block;
}

.artistImage{
	padding: 5px;
}

.artistImage i, .artistImage img{
	width: 65px;
	height: 65px;
	font-size: 65px;
	vertical-align: middle;
}

#changeTokensBtnWrapper{
	position: absolute;
	bottom: 0;
	right: 0;
}

#includePriceCheckbox{
	display: inline-block;
}

.subscriptionIndicator{
	display: inline-block; 
	height: 15px; 
	width: 15px; 
	border-radius: 50%;
	vertical-align: top;
}

.pitchAndGigCount{
	font-size: 12;
}

#loadingAnimation{
	position: fixed;
	width: 100vw;
	height: 100vh;
	background: rgba(0,0,0,0.5);
	z-index: 999999999;
}

#loadingAnimation .glyphicon-refresh-animate {
	font-size: 50px; 
	top: calc(50% - 25px);
    left: calc(50% - 25px);
    color: white;
    -webkit-animation: spin .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

#pitchListModalBody .artistPrice, #pitchListModalBody .updated {
	width: 70px;
    font-size: 100%;
}