html, body {
	margin: 0;
	padding: 0;
	max-width: 550px;
	min-width: 550px;
	font-size: 11px;
	min-height: 599px;
	max-height: 599px;
	height: 599px;
	overflow: hidden;
}

#tokensNotSet{
	padding-top: 50px;
}

#searchBar{
	padding-top: 10px;
}

#searchBar input{
	display: inline-block;
}

#searchBar select{
	height: 35px;
}

.searchBarComponent{
	display: inline-block;
	width: 100%;
}

#searchButtonWrapper{
	width: 95px; 
	vertical-align: text-bottom;
}

.searchBarComponent input, .searchBarComponent select{
	max-width: calc(100% / 4.1);
	min-width: calc(100% / 4.1);
}

.icon{
	margin-right: 8px;
}

.rightIcon{
	margin-left: 4px;
}

#searchBar button{
	position: relative;
	top: -1px;
}

#sortBtnWrapper{
	padding-top: 12px;
	padding-right: 20%;
}

.sortBtn{
	display: inline-block;
}

.updatedBtn{
	padding-right: 20px;
}

.sortBtn span{
	font-size: 120%;
	font-weight: bolder;
}

.sortBtn{
	user-select: none;
	cursor: pointer;
}

#artistsWrapper{
	padding: 10px;
}

.subcategory{
	padding-top: 8px;
}

.contactInfo{
	font-weight: 500;
}

.artistInfo, .artistPrice, .artistCheckbox, .updated {
	display: inline-block;
	vertical-align: middle;
}
.artistPrice, .updated {
	width: 110px;
}

.artistInfo{
	width: 180px;
}
.artistPrice {
	text-align: center;
	width: 85px;
	font-size: 120%;
	font-weight: 500;
}

.artistCheckbox{
	text-align: center;
	width: 40px;
}



.submitBtnWrapper{
	padding-top: 15px;
	padding-bottom: 15px;
}

#artistsWrapper{
	max-height: 355px;
	overflow-y: auto;
	overflow-x: hidden;
}

.artistElm{
	padding-bottom: 15px;
}

.artistImage, .artistInfo{
	display: inline-block;
}

.artistImage{
	padding: 5px;
}

.artistImage i, .artistImage img{
	width: 65px;
	height: 65px;
	font-size: 65px;
	vertical-align: middle;
}

#changeTokensBtnWrapper{
	position: absolute;
	bottom: 0;
	right: 0;
}

#includePriceCheckbox{
	display: inline-block;
}

.subscriptionIndicator{
	display: inline-block; 
	height: 15px; 
	width: 15px; 
	border-radius: 50%;
	vertical-align: top;
}

.pitchAndGigCount{
	font-size: 12;
}